/* order */
.order__container {
   max-width: 300px;
   margin: 0 auto;
}
.order {
   flex-direction: column;
   border: 1px solid #6742EB;
   margin: 81px 0;
   padding: 40px 20px; 
}

.orders__users {
   margin: 40px 0;
}

.user-avatar {
   width: 50px;
   height: 50px;
   margin-right: 20px;
}

.user {
   justify-content: flex-start;
}