.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__title {
    justify-content: space-between;
}

.popup {
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
}

.cross {
    border: none;
    width: 26px;
    height: 26px;
    background: transparent;
    background-image: url('../../../public/img/cross.svg');
}

.textarea-prod {
    resize: none;
}