/* PRODUCT */

.products {
   margin-left: 40px;
}

.center {
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-top: 40px;
}

.product {
   flex-direction: column;
   margin-right: 40px;
   margin-bottom: 40px;
}

.product__img {
   width: 214px;
}

.product__title {
   margin-top: 14px;
}

.product__descr {
   margin: 14px 0;
}

.product__cost {
   margin: 14px 0;
}

.product__count {
   margin: 0 10px;
}

@media(max-width:768px) {
   .products {
       margin-top: 40px;
       margin-left: 0;
   }
}