/* FOOTER */

.footer {
    background: #6742EB;
    margin-top: 156px;
}
    .footer__wrap {
        flex-direction: column;
    }
    
    .footer__logo {
        padding-top: 32px;
    }
    
    .footer__nav {
        padding: 32px 0;
    }
    
    .footer__social{
        padding-bottom: 32px;
    }

    .item:not(:last-of-type) {
        padding-right: 30px;
    }
    
    .footer__text {
        background: #9C9EA3;
        padding: 10px 0;
    }


