
.main__search>input {
   width: 200px;
   padding: 8px 0 8px 31px;
}

.main__search{
   position: relative;
   justify-content: flex-start;
   margin-bottom: 20px;
}

.main__search--icon {
   position: absolute;
   left: 10px;
   background-image: url('../../../public/img/loupe.svg');
   background-repeat: no-repeat;
   width: 15px;
   height: 15px;
}