body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background: #999;
  padding: 50px;
}

a {
  text-decoration: none;
  color: white;
}
a:not(last-of-type) {
  padding-right: 20px;
}

p, h1 {
  display:  flex;
  justify-content: center;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}

.white {
  color: gray;
}